@charset "UTF-8";

body {
    background-color: #EDE9C7;
}

#flexBox {
    position: absolute;
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
}

#titulo {
    position: absolute;
    top: 3%;
    width: 100%;
    height: fit-content;
    text-align: center;
}

#form {
    align-self: center;
    justify-self: center;
    text-align: left;
    width: 35%;
}

#botonContenedor {
    width: 100%;
    text-align: center;
}

#botonPrincipal {
    font-size: 1.5rem;
}

#lenguajes {
    position: absolute;
    bottom: 1%;
    left: 1%;
}

#direccion {
    margin: auto;
}

.botonIdioma, .bandera {
    width: 150px;
    margin: 0px;
    padding: 0px;
}

.slide-tr {
    animation: slide-tr 1.1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1ms both;
}

.slide-br {
    animation: slide-br 1.1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1ms both;
}

  @keyframes slide-tr {
    0% {
        transform: translateY(0) translateX(400px);
    }
    60% {
        opacity: 1;
    }
    100% {
        transform: translateY(-50px) translateX(500px);
        opacity: 0;
    }
  }

  @keyframes slide-br {
    0% {
        transform: translateY(-50px) translateX(-150px);
    }
    60% {
        opacity: 1;
    }
    100% {
        transform: translateY(0px) translateX(-50px);
        opacity: 0;
    }
  }
  